* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard", sans-serif;

    background: #d6dbe1;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.login-card {
    width: 470px;

    background: white;

    border-radius: 30px;

    padding: 52px 48px;

    box-shadow: 0 15px 40px rgba(0,0,0,0.12);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 120px;
    height: 120px;

    border-radius: 50%;

    background: #f4f6f8;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 28px;
}

.login-logo img {
    width: 88px;
    object-fit: contain;
}

.login-card h1 {
    color: #2f4858;

    font-size: 42px;
    font-weight: 900;

    margin-bottom: 10px;
}

.login-subtitle {
    color: #7b8794;

    font-size: 16px;
    font-weight: 600;

    margin-bottom: 38px;
}

#loginForm {
    width: 100%;
}

.login-input-box {
    width: 100%;
    height: 62px;

    background: #f4f6f8;

    border-radius: 18px;

    display: flex;
    align-items: center;

    padding: 0 20px;

    margin-bottom: 18px;
}

.login-input-box span {
    font-size: 22px;

    margin-right: 12px;
}

.login-input-box input {
    flex: 1;

    border: none;
    background: transparent;

    outline: none;

    font-size: 18px;
    font-weight: 700;

    color: #2f4858;
}

.login-input-box input::placeholder {
    color: #98a4af;
}

.login-btn {
    width: 100%;
    height: 62px;

    border: none;
    border-radius: 18px;

    background: #2f4858;
    color: white;

    font-size: 20px;
    font-weight: 900;

    cursor: pointer;

    margin-top: 8px;

    transition: 0.15s;
}

.login-btn:hover {
    transform: scale(1.02);
}

.login-message {
    text-align: center;

    margin-top: 18px;

    font-size: 15px;
    font-weight: 700;

    color: #dc2626;

    min-height: 20px;
}

.login-footer {
    margin-top: 34px;

    color: #98a4af;

    font-size: 13px;
    font-weight: 600;
}.remember-box {
    display: flex;
    align-items: center;

    gap: 10px;

    margin-top: 6px;
    margin-bottom: 18px;

    padding-left: 4px;
}

.remember-box input {
    width: 18px;
    height: 18px;

    cursor: pointer;
}

.remember-box label {
    color: #4b5563;

    font-size: 15px;
    font-weight: 700;

    cursor: pointer;
}